{% block arxy_file_widget %}

    {% if file and file.id %}
        <div>
            <span>{% trans %}Original filename{% endtrans %}: {{ file.originalFilename }}</span>
            <span>{% trans %}Size{% endtrans %}: {{ file.fileSize|format_bytes }}</span>
            <span>{% trans %}Mime Type{% endtrans %}: {{ file.mimeType }}</span>
            <span>{% trans %}Created{% endtrans %}: {{ file.createdAt|format_datetime }}</span>
        </div>
    {% endif %}

    {{ form_widget(form) }}
{% endblock %}